*{
	padding: 0;
	margin: 0;

}

body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
}

.container {
	width: 1200px;
	height: auto;
}

a {
	text-decoration: none;
}

.logo {
	
}

.showcase-bg {
	
}


.main-header {
	
}

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.main-navigation-menu {
	list-style: none;
}

.main-navigation-menu a {
	color: #000000;
}

.main-navigation-menu a:hover {
	color: #81b3d2;
}

.main-navigation-menu a:active {
	color: #838787;
}

.features-list {
	list-style: none;
	text-align: center;
}

.modal-apartments h2 {
	font-size: 30px;
	line-height: 36px;
}

.modal-apartments p {
	font-size: 14px;
	line-height: 24px;
}

.button-apartments-sedona {
	background-color: #766357;
	color: #fbfafa;
}

.button-apartments-sedona:hover {
	background-color: #604e43;
}

.button-apartments-sedona:active {
	background-color: #503e33;
}

.search-button {
	font: inherit;

	text-align: center;
	color: #fbfafa;
	vertical-align: middle;

	background-color: #81b3d2;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
}

.apartments-item {
	font-weight: 700;
	color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000; 
    opacity: 1; /* Firefox */
}

.apartments-item input {
	font: inherit;
	
	background-color: #f2f2f2;
	border: 1px solid #fbfafa;
}

.apartments-item input:active {
	background-color: #ebebeb;
}

.apartments-item input:focus {
	background-color: #ffffff;
	border: 2px solid #efefef;
}

.main-footer p {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #000000;
}

.filters {
	background-image: url(../img/filter-bg.png);
}

legend {
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
}

.filter-option,
.hotels-item {
	list-style: none;
}

.filter-option label {
	color: #ffffff;
}

.filter-button {
	background-color: transparent;
	color: #ffffff;
}

.filter-button:hover {
	background-color: #ffffff;
	color: #000000;
}

.sorting-filters span {
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
}

.sorting-button {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
}

.hotels h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.hotels-button-details {
	font-weight: 700;
	background-color: #81b3d2;
	color: #ffffff;
}

.hotels-button-details:hover {
	background-color: #669ec0;
}

.hotels-button-details:active {
	background-color: #5496bd;
	color: #7fadcb;
}

.hotels-button-book-it {
	font-weight: 700;
	background-color: #766357;
	color: #ffffff;
}

.hotels-button-book-it:hover {
	background-color: #604e43;
}

.hotels-button-book-it:active {
	background-color: #827872;
}

.hotels-item h3:hover {
	color: #81b3d2;
}

.hotels-item h3:active {
	color: #d0d0d0;
}

/* Сеточные стили */

body {
	background-image: url(../img/sedona-index-1200.jpg);
	background-repeat: no-repeat;
	background-position: center;

	background-size: 1280px auto;

	min-width: 1280px;
	min-height: 2762px;
}

.container {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.main-navigation {
	outline-style: solid;
	outline-color: green;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.main-navigation-menu {
	width: 1056px;
	min-height: 58px;
	outline-style: solid;
	outline-color: yellow;

}

.showcase {
	min-height: 508px;
	position: relative;

	outline-style: solid;
	outline-color: red;
}

.about {
	outline-style: solid;
	outline-color: black;

	min-height: 216px;
}

.advantages-first {
	display: flex;

	outline-style: solid;
	outline-color: blue;

	min-height: 256px;
}

.advantages-info-first {
	outline-style: solid;
	outline-color: yellow;
	width: 33.3%;

	min-height: 256px;
}

.advantages-img-first {
	outline-style: solid;
	outline-color: red;
	width: 66.6%;
}

.features-list-first {
	display: flex;
	outline-style: solid;
	outline-color: green;

	min-height: 330px;

	list-style: none;
}

.features-item-first {
	width: 33.3%;
	outline-style: solid;
	outline-color: black;

}

.advantages-second {
	display: flex;

	outline-style: solid;
	outline-color: blue;

	min-height: 256px;
}

.advantages-info-second {
	outline-style: solid;
	outline-color: yellow;
	width: 66.6%;

	min-height: 256px;
}

.advantages-img-second {
	outline-style: solid;
	outline-color: red;
	width: 33.3%;
}

.features-list-second {
	display: flex;
	outline-style: solid;
	outline-color: green;

	min-height: 256px;

	list-style: none;
}

.features-item-second {
	list-style: none;
	width: 33.3%;
	outline-style: solid;
	outline-color: black;
}