html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

*{
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'pt sans', arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	background: #f2f2f2;
	box-shadow: 10px 10px 10px 10px grey;
	text-transform: uppercase;
}

.container {
	position: relative;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0px grey;
}

a {
	text-decoration: none;
}

.img {
	max-height: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
.filters__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

.showcase-bg {
	position: absolute;
	top: -14px;
	z-index: 1;
}

.page-header {
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	padding-right: 70px;
	padding-left: 70px;
}

.main-navigation-menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.main-navigation-menu a {
	color: #000000;
	display: block;
}

.main-navigation-menu a:hover {
	color: #81b3d2;
}

.main-navigation-menu a:active {
	color: #838787;
}

.main-nav-item--right-side {
	text-align: right;
}

.main-navigation-item {
	padding: 15px 0;
	width: 264px;
}

.main-nav-item-link {
	line-height: 26px;
	font-weight: 700;
	color: #333;
}

.main-nav-item--left-side+.main-nav-item--right-side {
	margin-left: auto;
}

.showcase {
	position: relative;
	padding-top: 75px;
	padding-bottom: 80px;
}

.showcase::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 57px;
	bottom: 0px;
	background: url(../img/shape.png) no-repeat center bottom;
	background-size: 100% auto;
	z-index: 1;

}

.showcase-img {
	position: relative;
	display: block;
	width: 460px;
	height: 352px;
	z-index: 1;

	margin: 0 auto;
}

.about {
	padding-top: 64px;
	padding-bottom: 60px;
	
	position: relative;
	background-color: #fff;
	text-align: center;
	z-index: 1;
}

.about-info {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.about-title {
	margin-bottom: 27px;
	line-height: 26px;
}

.advantages-first {	
	position: relative;
	display: flex;
}

.advantages-title {
	max-width: 170px;
	margin: 0 auto 25px;
	padding-top: 25px;
}

.advantages-text {
	margin-top: 26px;
}

.advantages-info-first {
	width: 33.3%;
	
	padding-right: 46px;
	padding-top: 23px;
	padding-left: 61px;
	padding-bottom: 3px;
	
	text-align: center;
	background-color: #81b3d2;
	color: #fff;
}

.advantages-img-first {
	width: 66.6%;
}

.features-list-first {
	display: flex;
	list-style: none;
	
	background-color: #fff;
}

.features-item-first {
	width: 33.3%;
	position: relative;
	
	text-align: center;
	
	padding-top: 159px;
	padding-bottom: 80px;
	padding-right: 59px;
	padding-left: 55px;
}

.features-item-first::before {
	content: "";
	position: absolute;
	display: block;
}

.features-item-house::before {
	width: 75px;
	height: 72px;  	
	top: 50px;
	left: 160px;
	
	background-image: url(../svg-sedona/icon-1.svg);
}

.features-item-food::before {
	width: 74px;
	height: 70px;
	top: 50px;
	left: 160px;
	
	background-image: url(../svg-sedona/icon-3.svg);
}

.features-item-souvenir::before {
	width: 64px;
	height: 76px;
	top: 50px;
	left: 165px;

	background-image: url(../svg-sedona/icon-2.svg);
}

.features-item-title {
	font-size: 21px;
	margin-bottom: 28px;
}

.advantages-second {
	display: flex;
}

.advantages-info-second {
	width: 33.3%;
	color: #fff;
	text-align: center;
	
	padding-top: 24px;
	padding-right: 52px;
	padding-left: 38px;
	
	background-color: #81b3d2;

}

.advantages-img-second {
	width: 66.6%;
}

.reasons-list-second {
	display: flex;
	list-style: none;
	
	background-color: #eeeeee;
}

.reasons-item-second {
	width: 33.3%;
	
	padding-top: 41px;
	padding-bottom: 50px;
	padding-right: 45px;
	padding-left: 54px;
	
	text-align: center;
}

.reasons-item-title {
	font-size: 21px;
	margin-bottom: 20px;
}

.reasons-item-text{
	margin-top: 20px;
}

.modal-apartments {
	background: #fff;
}

.btn {
	display: inline-block;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: 700;
	color: #fff;
	background-color: #81b3d2;
	text-align: center;
	text-transform: uppercase;
}

.search-open-btn {
	position: relative;
	width: 100%;
	z-index: 2;
}

.search-info {
	width: 460px;
	padding-top: 55px;
	text-align: center;
	margin: 0 auto;
}

.search-title {
	font-size: 30px;
	line-height: 36px;
	padding-bottom: 30px;
}

.search-map-wrapper {
	margin-top: 55px;
	overflow: hidden;
}

.search-form-wrapper {
	position: relative;
	width: 568px;
	margin: 0 auto;
}

.button-apartments-sedona {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	
	padding: 25px 32px;
	color: #fff;
	background-color: #766357;
	width: 100%
}

.button-apartments-sedona:hover {
	background-color: #604e43;
}

.button-apartments-sedona:active {
	background-color: #503e33;
	color: #928a85;
}

.apartments-form {
	position: absolute;
	padding: 55px;
	line-height: 26px;
	font-weight: 700;
	z-index: 1;
	background-color: #fff;
}

.apartments-form-hide {
	-webkit-animation: formhide 0.7s forwards;
	animation: formhide 0.7s forwards;
}

.apartments-form-show {
	-webkit-animation: formshow 0.7s forwards;
	animation: formshow 0.7s forwards;
}

@-webkit-keyframes formshow {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes formshow {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes formhide {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@keyframes formhide {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

.search-form-row {
	display: flex;
	align-items: center;
}

.search-form-row+.search-form-row {
	margin-top: 29px;
}

.search-form-label {
	padding: 6px 15px 6px 0;
	width: 112px;
}

.search-form-input-wrapper {
	position: relative;
	width: 100%
}

.search-form-input-wrapper-counter
.search-form-input {
	width: 38px;
	padding: 0 5px;
	text-align: center;
}

.search-form-input {
	padding: 6px 15px;
	border: 0;
	height: 38px;
	background-color: #f2f2f2;
	width: 100%;
}

.search-form-input:hover {
	background-color: #ebebeb;
}

.search-form-input:focus {
	background-color: #fff;
}

.search-form-input-wrapper-calendar
.search-form-input {
	padding-right: 45px;
}

.search-form-calendar-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 38px;
	border: 0;
	background-color: transparent;
}

.search-form-calendar-icon {
	fill: #cacaca;
}

.search-form-calendar-button:hover .search-form-calendar-icon {
	fill: #000;
}

.search-form-calendar-button:active .search-form-calendar-icon {
	fill: #81b3d2;
}

.search-form-submit {
	width: 100%;
	font-size: 21px;
	padding: 20px 198px;
	margin-top: 55px;
	border: 0;
}

.search-form-submit:hover {
	background-color: #669ec0;
}

.search-form-submit:active {
	background-color: #5496bd;
	color: #8cb4cf;
}

.search-form-row-columns {
	justify-content: space-between;
}

.search-form-row-column {
	display: flex;
}

.search-form-input-control {
	position: relative;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: 0;
}

.search-form-input-control-minus::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	border-radius: 1px;
	background-color: #a9a9a9;
	top: 18px;
	left: 13px;
}

.search-form-input-control-plus::after {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 3px;
	height: 11px;
	border-radius: 1px;
	background-color: #a9a9a9;
}

.search-form-input-control-plus::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 13px;
	width: 11px;
	height: 3px;
	border-radius: 1px;
	background-color: #a9a9a9;
}

#map {
	width: 100%;
	height: 593px;
}

.map {
	position: relative;
	overflow-x: hidden;
}

.map-content {
	width: 100%;
	height: 100%;
}

.map .map-img {
	position: absolute;
	top: 0;
	left: 50%;
}

.main-footer {
	display: flex;
	align-items: center;
	padding: 32px 0;
}

.main-footer-more-info,
.main-footer-social,
.footer-copyright {
	width: 33.3%
}

.main-footer-index {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
}

.hashtag:hover {
	color: #81b3d2;
}

.social {
	display: flex;
	list-style: none;
	justify-content: center;
}

.social-item {
	margin: 4px 3px;
}

.social-button {
	width: 46px;
	height: 48px;
	position: relative;
	background-color: #81b3d2;
	display: block;
}

.social-button::before {
	content: "";
	position: absolute;
	display: block;
}

.social-button-tw::before {
	width: 17px;
	height: 15px;
	top: 17px;
	left: 15px;
	
	background: url(../svg-sedona/twitter.svg) no-repeat center;
}

.social-button-fb::before {
	width: 12px;
	height: 22px;
	top: 13px;
	left: 17px;
	
	background: url(../svg-sedona/fb-icon.svg) no-repeat center;
}

.social-button-yt::before {
	width: 20px;
	height: 20px;
	top: 15px;
	left: 13px;
	
	background: url(../svg-sedona/youtube.svg) no-repeat center;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active::before {
	background-color: #5496bd;
	opacity: 0.3;
}

.developer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}

.developer-text {
	display: block;
	margin-right: 6px;
	color: #000;
}

.developer-logo-link{
	display: block;
	width: 115px;
	height: 41px;
}

.developer-logo {
	width: 115px;
	height: 41px;
	fill: #231f20;
}

.developer-logo:hover,
.developer-logo-link:focus .developer-logo {
	fill: #81b3d2;
}

.developer-logo:active {
	fill: #bdbbbc;
}